@{
    ViewData["Title"] = "Contact";
}
<h1>Demo Slider</h1>
https://support.shareaholic.com/hc/en-us/articles/200471586-Customize-Share-Titles-Links-Images
https://developers.facebook.com/apps/207409349755676/settings/
<div class="fb-like"
     data-share="true"
     data-width="450"
     data-show-faces="true"
     data-title='This is my Page Title'
     data-image='http://www.TheURLtoShare.com/image.jpg'>
</div>
<script>
    
</script>
<div class="row">
    <div class="col-sm-6">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <!-- Indicators  col-md-5 col-xs-12 -->
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            </ol>
            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <div class="test">
                        <img class="img-responsive" src="http://qualityreceptivo.com.br/repositorio/0995ba60-61cb-483c-a669-c21ab58e9b26.jpg" alt="...">
                    </div>                                    
                </div>
                <div class="item">
                    <div class="test">
                        <img class="img-responsive" src="http://qualityreceptivo.com.br/repositorio/0995ba60-61cb-483c-a669-c21ab58e9b26.jpg" alt="...">
                    </div>                    
                </div>

            </div>

            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-sm-6">
        <div class="demo">
            <ul id="lightSlider">
                <li data-thumb="http://sachinchoolur.github.io/lightslider/img/thumb/cS-1.jpg">
                    <img src="http://sachinchoolur.github.io/lightslider/img/cS-1.jpg" />
                </li>
                <li data-thumb="http://sachinchoolur.github.io/lightslider/img/thumb/cS-2.jpg">
                    <img src="http://sachinchoolur.github.io/lightslider/img/cS-2.jpg" />
                </li>
                <li data-thumb="http://sachinchoolur.github.io/lightslider/img/thumb/cS-3.jpg">
                    <img src="http://sachinchoolur.github.io/lightslider/img/cS-3.jpg" />
                </li>
                <li data-thumb="http://sachinchoolur.github.io/lightslider/img/thumb/cS-4.jpg">
                    <img src="http://sachinchoolur.github.io/lightslider/img/cS-4.jpg" />
                </li>
                <li data-thumb="http://sachinchoolur.github.io/lightslider/img/thumb/cS-5.jpg">
                    <img src="http://sachinchoolur.github.io/lightslider/img/cS-5.jpg" />
                </li>
                <li data-thumb="http://sachinchoolur.github.io/lightslider/img/thumb/cS-6.jpg">
                    <img src="http://sachinchoolur.github.io/lightslider/img/cS-6.jpg" />
                </li>
                <li data-thumb="http://sachinchoolur.github.io/lightslider/img/thumb/cS-7.jpg">
                    <img src="http://sachinchoolur.github.io/lightslider/img/cS-7.jpg" />
                </li>
                <li data-thumb="http://sachinchoolur.github.io/lightslider/img/thumb/cS-8.jpg">
                    <img src="http://sachinchoolur.github.io/lightslider/img/cS-8.jpg" />
                </li>
                <li data-thumb="http://sachinchoolur.github.io/lightslider/img/thumb/cS-9.jpg">
                    <img src="http://sachinchoolur.github.io/lightslider/img/cS-9.jpg" />
                </li>
                <li data-thumb="http://sachinchoolur.github.io/lightslider/img/thumb/cS-10.jpg">
                    <img src="http://sachinchoolur.github.io/lightslider/img/cS-10.jpg" />
                </li>
                <li data-thumb="http://sachinchoolur.github.io/lightslider/img/thumb/cS-11.jpg">
                    <img src="http://sachinchoolur.github.io/lightslider/img/cS-12.jpg" />
                </li>
                <li data-thumb="http://qualityreceptivo.com.br/repositorio/0995ba60-61cb-483c-a669-c21ab58e9b26.jpg">
                    <img src="http://qualityreceptivo.com.br/repositorio/0995ba60-61cb-483c-a669-c21ab58e9b26.jpg" />
                </li>
            </ul>
        </div>
    </div>
    
</div>


@section scripts {  
<script src="~/js/lightslider.js"></script>
<link href="~/css/lightslider.css" rel="stylesheet" />
    
 <style type="text/css">
        .demo {
            width: 420px;
        }

       .demo ul {
            list-style: none outside none;
            padding-left: 0 ;
            margin-bottom: 0 ;
        }

        .demo ul li {
            display: block;
            float: left;
            margin-right: 6px;
            cursor: pointer;
        }

            .demo ul li img {
                display: block;
                height: auto;
                max-width: 100%;
            }
    </style>
       

    <script type="text/javascript">
        // http://sachinchoolur.github.io/lightslider/
        //http://jsfiddle.net/sachin377/2patspw2/

        window.fbAsyncInit = function () {
            FB.init({
                appId: '207409349755676',
                xfbml: true,
                version: 'v2.8'
            });
            FB.AppEvents.logPageView();
        };

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) { return; }
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));

        $(document).ready(function () {
            $('#lightSlider').lightSlider({
                gallery: true,
                item: 1,
                loop: true,
                slideMargin: 0,
                thumbItem: 9,
                keyPress: false,
                controls: true,
                prevHtml: '',
                nextHtml: '',
                speed: 400,
                auto: true
            });
        });

        //$(document).ready(function () {
        //    window.prettyPrint && prettyPrint()
        //    var slider = $('#lightSlider').lightSlider({
        //        gallery: true,
        //        item: 1,
        //        thumbItem: 9,
        //        slideMargin: 0,
        //        speed: 500,
        //        auto: true,
        //        loop: true,
        //        onSliderLoad: function () {
        //            $('#lightSlider').removeClass('cS-hidden');
        //        }
        //    });
           
        //    $('#content-slider').lightSlider({
        //        keyPress: false,
        //        item: 4,
        //        loop: true,
        //        onSliderLoad: function () {
        //            $('#content-slider').removeClass('cS-hidden');
        //        }
        //    })
        //    var clk = true;
        //    $('.btn-navbar').on('click', function () {
        //        if (site.hasClass('translate')) {
        //            clk = false;
        //            site.removeClass('translate');
        //            setTimeout(function () {
        //                $("#mast-head").css('display', 'none');
        //                clk = true;
        //            }, 700);
        //        } else if (clk) {
        //            $("#mast-head").css('display', 'block');
        //            site.addClass('translate');
        //        }
        //    });
        //    $('#site').on('touchmove', function (e) {
        //        if ($(this).hasClass('translate')) {
        //            e.preventDefault();
        //        }
        //    });
        //    $('#site > .nav-over').on('click touchstart', function (e) {
        //        e.preventDefault();
        //        e.stopPropagation();
        //        clk = false;
        //        site.removeClass('translate');
        //        setTimeout(function () {
        //            $("#mast-head").css('display', 'none');
        //            clk = true;
        //        }, 700);
        //    })
        //    $(window).on("resize orientationchange", function () {
        //        if ($(window).width() > 767) {
        //            $("#mast-head").css('display', 'block');
        //            site.removeClass('translate');
        //        } else if (!site.hasClass('translate')) {
        //            $("#mast-head").css('display', 'none');
        //        }
        //    });
        //});


      
    </script>
}