
<div class="page-header">
    <h1>Share Dialog</h1>
</div>
<div id="shareBtn" class="btn btn-success clearfix">Share</div>
<div id="fb-root" class=" fb_reset"></div>
<script>
    window.fbAsyncInit = function () {
        FB.init({
            appId: '226793644470810',
            xfbml: true,
            version: 'v2.9'
        });
        FB.AppEvents.logPageView();
    };

    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) { return; }
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>
<hr />
<div class="page-header">
    <h1>Share Twieter</h1>
    <ul>
        <li>
            <a class="facebook customer share" 
               href="http://www.facebook.com/sharer.php?u=http://codepen.io/patrickkahl" 
               title="Facebook share" target="_blank">Facebook</a>
        </li>
        <li>
            <a class="twitter customer share" 
               href="http://twitter.com/share?url=http://codepen.io/patrickkahl&amp; text=Share popup on &amp;hashtags=codepen" 
               title="Twitter share" target="_blank">Twitter</a>
        </li>
        <li>
            <a class="google_plus customer share" href="https://plus.google.com/share?url=http://codepen.io/patrickkahl" title="Google Plus Share" target="_blank">Google Plus</a>
        </li>
        <li>
            <a class="xing customer share" href="https://www.xing.com/social_plugins/share?url=http://codepen.io/patrickkahl" title="Xing Share" target="_blank">Xing</a>
        </li>
        <li>
            <a class="linkedin customer share" href="http://www.linkedin.com/shareArticle?mini=true&url=http://codepen.io/patrickkahl" title="linkedin Share" target="_blank">LinkedIn</a>
        </li>
    </ul>
</div>


@section Scripts
{

<script type="text/javascript">
     //https://grobmeier.solutions/sharing-images-facebook-javascript-19102015.html
   //http://stackoverflow.com/questions/17139272/onclick-share-image-on-facebook
  // /// http://stackoverflow.com/questions/30244642/make-my-own-custom-facebook-share-button
    (function($){  
  $.fn.customerPopup = function (e, intWidth, intHeight, blnResize) {
    // Prevent default anchor event
    e.preventDefault();
    // Set values for window
    intWidth = intWidth || '500';
    intHeight = intHeight || '400';
    strResize = (blnResize ? 'yes' : 'no');
    // Set title and open popup with focus on it
    var strTitle = ((typeof this.attr('title') !== 'undefined') ? this.attr('title') : 'Social Share'),
        strParam = 'width=' + intWidth + ',height=' + intHeight + ',resizable=' + strResize,
        objWindow = window.open(this.attr('href'), strTitle, strParam).focus();
  }
  /* ================================================== */
    $(document).ready(function ($) {
       
        $('#metaelementimg').attr('content', 'my new meta description');
    $('.customer.share').on("click", function(e) {
      $(this).customerPopup(e);
    });
  });

}(jQuery));

   

    document.getElementById('shareBtn').onclick = function () {
        FB.ui({
            method: 'share_open_graph',
            action_type: 'og.shares',
            action_properties: JSON.stringify({
                object: {
                    'og:url': 'http://netcoremp-001-site1.atempurl.com/home/face',
                    'og:title': 'hello kdkd',
                    'og:description': 'dfjddf fasdfa',
                    'og:og:image:width': '2560',
                    'og:image:height': '960',
                    'og:image': 'http://s2.glbimg.com/UTqooSm2MI571fECU7DZcIvPfHE=/1200x/smart/filters:strip_icc()/s04.video.glbimg.com/x720/5833003.jpg'
                }
            })
        });
    }

   
   
</script>
    
}
